/*
 * Estilos de tu proyecto
 */

 #barra {
   position: fixed;
 }
 header {
   background-color: #2C3E50;
   font-family: 'Montserrat',sans-serif;
   color: #FFF;
   padding: 10px;
 }

 a {
   color: #FFF;
   text-decoration: none;
   text-align: center;
 }

 .start {
   font-size: 28px;
 }

 .txtLink {
   font-size: 14px;
   margin-top: 10px;
 }

 .titulos {
   text-align: center;
 }
 .ancho {
   height: 150px;
 }
 .ancho2 {
   height: 75px;
 }

hr {
    padding: 0;
    border: none;
    border-top: solid 5px;
    text-align: center;
    max-width: 250px;
    margin: 25px auto 30px;
    color: white;
}

hr.star-light:after {
    /*background-color: #18BC9C;*/
    /* color: #fff; */
}

hr.star-light:after, hr.star-primary:after {
    content: "\f005";
    font-family: FontAwesome;
    display: inline-block;
    position: relative;
    top: -.8em;
    font-size: 2em;
    padding: 0 .25em;
}

:after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

hr:after {
    content: "\f005";
    font-family: FontAwesome;
    display: inline-block;
    position: relative;
    top: -.1em;
    font-size: 2em;
    padding: 0 .25em;
    background: #18bc9c;
    top: -18px;
    color: white;
}


 .fondo {
   background-color: #18BC9C;
   font-family: Montserrat,sans-serif;
   text-align: center;
   color: #FFF;
 }

 .titulo {
   font-size: 73px;
 }

 .imgPortfolio {
   width: 100%;
   height: 100%;
 }

 #about {
   background: #18BC9C;
   color: #fff;
 }

 .texto {
   font-family: Montserrat,sans-serif;
   font-size: 42px;
   font-weight: bold;
   margin-bottom: 30px;
   letter-spacing: 1px;
 }
 .textos-p {
   font-family: Lato,sans-serif;
   font-size: 20px;
   letter-spacing: 1px;
 }
 .btn-download {
   font-size: 20px;
   font-family: Lato,sans-serif;
   border-radius: 6px;
   background: #18bc9c;
   color: #fff;
   border: 2px solid #fff;
   padding: 10px;
   margin-bottom: 50px;
 }
 .btn-download:hover {
   background: #fff;
   color: #18bc9c;
   transition: .3s;
 }

 footer {
   text-align: center;
   color: #FFF;
 }

 .contacto {
   padding: 70px;
   background-color: #2C3E50;
 }

.copy {
  background-color: #233140;
}

.txtContacto {
  font-family: Montserrat,sans-serif;
  margin-bottom: 30px;
}

.linkFooter {
  color: #18BC9C;
}

.linkFooter:hover {
  text-decoration: underline;
}

.iconosFooter {
  font-size: 48px;
}

.txtFooter {
  font-family: Lato,sans-serif;
}
